html{
    font-size:20px;
    max-width: 1600px;
    align-content: center;
    margin: auto;
}
table.tble_1{
    table-layout: fixed; /*Set all the column into equal size*/
    width: 100%;
    border-collapse: collapse;
    background-color: mediumseagreen;
}
.tble_1 > thead > tr > th.title_home{ /*can call .title_home*/

    font-size:x-large;
    font-family: courier;
    text-align: left;
    padding-left:30px;
    color:white;

}

/**CODES FOR NAVAGATION PANE**/

table.tble_1 > thead > tr > th > ul.nav{ 
    font-size: .9em;
    font-family: Courier;
    display:flex;
    margin:auto;
    flex-wrap:nowrap;
}

.nav > li{
   width:100%;
   transition: .3s ease;
}   
ul.nav > li > a{
    display:inline-block;
    text-decoration: none;
    color:white;  
    padding:10px;
    
}
ul.nav > li:hover{
    background-color: forestgreen;

}
li{
    list-style-type: none;
    
}
/** END CODES FOR NAVIGATION PANE**/


body{
    display:block;
    margin:0px;
    overflow:hidden;

}

/*section part*/
/*For forms (sign in)*/


.clearfix{
    display: flex;
    margin:50px;
    justify-content: center;
    
}
.credentials{
    display:flex;
    border-radius: 7px;
    border:none;
    background-color: mediumseagreen;
    color:white;
    background-image: url("../img/avatar.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;
    padding-top:80px;
    background-position: center 10px; /*top right bottom left*/
}

@media screen and (max-width : 850px ){
    .nav > li{
       /* The width is 100%, when the viewport is 800px or smaller */
        font-size:.9em;
        text-align:center   ;
        line-height: auto;
        
    }
    .nav{
        flex-direction: column;
    }
  }
  
/*End of (For forms (sign in))*/


input[type=text],input[type=password]{
    padding:10px;
    margin:5px;
    outline:none;
    
    
}
input[type=text]:focus,input[type=password]:focus{
    border:2px solid rgb(0, 128, 17);
}
::placeholder{
    color:rgb(175, 175, 175);
    font-family: 'Courier New', Courier, monospace;
}
input[type=submit]{
    width: 100%;
    padding:5px;
    background-color: rgb(4, 143, 4);
    border:1px solid rgb(4, 143, 4);
    margin-top:10px;
    color:white;
    border-radius: 5px;
}
input[type=submit]:hover{
    background-color: rgb(11, 165, 11);
    border:1px solid rgb(11, 165, 11);
}
.headerform{
    text-align: center;
}
.remember_me > li{
    font-size: .7em;
    font-family:'Courier New', Courier;
}
input[type="checkbox"]
{
    vertical-align:middle;
}
/*Design for signup footer*/
    .signup_footer{
        text-decoration: none;
        font-size:.6em; /*relative to html font size 20px*/
        margin:10px;
        color:white;
        text-align: left;
    }
    a.signup_footer:hover{
        text-decoration: underline;
    }
/*End of Design for sign up footer*/
footer{
  font-size:.6em;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   color:gray;
}