table.tble_1{
    table-layout: fixed; /*Set all the column into equal size*/
    width: 100%;
    border-collapse: collapse;
    background-color: mediumseagreen;
}
.tble_1 > thead > tr > th.title_home{ /*can call .title_home*/

    font-size:large;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    padding-left:30px;
    color:white;

}


/**CODES FOR NAVAGATION PANE**/


ul > li {
    float: right;
}
table.tble_1 > thead > tr > th > ul.nav{ 
    list-style-type: none; 
    margin:0px;
    
    font-size: small;
}

ul.nav > li > a{
    display:block;
    text-decoration: none;
    color:white;
    text-align: center;
    padding:10px;
}
ul.nav > li > a:hover{
    background-color: forestgreen;
}


/** END CODES FOR NAVIGATION PANE**/


body{
    display:block;
    margin:0px;
    overflow:hidden;
}

/*section part*/

.box{

    border:1px solid black;
    float:left;
    padding:50px;   

}