html{
    font-size:20px;
}
table.tble_1{
    table-layout: fixed; /*Set all the column into equal size*/
    width: 100%;
    border-collapse: collapse;
    background-color: mediumseagreen;
}
.tble_1 > thead > tr > th.title_home{ /*can call .title_home*/

    font-size:x-large;
    font-family: courier;
    text-align: left;
    padding-left:30px;
    color:white;

}

/**CODES FOR NAVAGATION PANE**/

table.tble_1 > thead > tr > th > ul.nav{ 
    list-style-type: none; 
    font-size: .9em;
    font-family: Courier;
    display:flex;
    margin:auto;
    flex-wrap:nowrap;
}

.nav > li{
   width:100%;
   transition: .3s ease;
}   
ul.nav > li > a{
    display:block;
    text-decoration: none;
    color:white;  
    padding:10px;
    
}
ul.nav > li:hover{
    background-color: forestgreen;
}

/** END CODES FOR NAVIGATION PANE**/


body{
    display:block;
    margin:0px;
    overflow:hidden;
}

/*section part*/
/*For forms (sign in)*/


.clearfix{
    display:flex;
    margin:50px;
    justify-content: center;
}

legend{
    text-align:center;    
}

@media screen and (max-width : 750px ){
    .nav > li{
       /* The width is 100%, when the viewport is 800px or smaller */
        font-size:.8em;
        text-align:right;
        
    }
    .nav{
        flex-direction: column;
    }
  }
  /*End of (For forms (sign in))*/

legend > ul {
    display:flex;
}
